@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container {
border: 1px solid gray;
}

.selects {
  margin-top: 30px;
}

.selects .select {
  width: 180px;
}

.selects .select-row {
}

.selects .select-container {
  padding-top: 5px;
}

.results .helper {
  display: none;
}

.results .listing {
  max-width: 600px;
  height: 200px;
  overflow: auto;
}

.results .result {
  border-top: 1px solid gray;
  padding: 10px 0;
  cursor: pointer;
}

.compare .units {
  font-size: x-small;
  color: #6D6D6D;
  margin-left: auto;
  margin-right: auto;
}

.compare .no-items {
  font-style: italic;
  font-size: small;
  text-align: center;
  margin: 30px 0;
}

.compare .header > div {
  cursor: pointer;
  text-align: center;
}

.compare .header .asc {
  color: green;
}

.compare .header .desc {
  color: red;
}

.compare .row {
  border-bottom: 1px solid gray;
}

.compare .value {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.remove {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: medium;
}

.remove i {
  color: #b94a48;
  cursor: pointer;
}
